# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE
.idea/

# Environment variables
.env

# Home Assistant
/.storage/
/home-assistant.log*
/home-assistant_v2.db*
/.HA_VERSION
/.ha_run.lock
/.cloud/
/deps/

# Git
.git/

# OS
.DS_Store
Thumbs.db

/testing/.env